.invert
	%h1 Последнее в блогах:
.pre_news
	= render :partial => "adverts/topic", :collection => @topics_last
%center
	= will_paginate @topics_last, :param_name => :page_last

- content_for :sidebar do
	Теги:
	%br
	-tag_cloud(@tags, %w(tag1 tag2 tag3 tag4)) do |tag, css_class|
		= link_to tag.name+', ', tag_path(tag.name), :class => css_class
	%hr.hr_dashed
	%center
		= link_to "Создать запись", new_topic_path, :class => 'ff green'