<%= include_imperavi_stylesheet %>
<%= include_imperavi_javascript %>
<%= imperavi :topic_body, 
            :lang => 'ru', :paths => {
    :images => {
      # Path to upload handler
      :upload => images_path,
      # Path to list of images
      :list   => images_path(:format => :json)
    }
  }
%>

<%= form_for :topic, {:url => topics_path, :html => { :multipart => true }} do |f| %>
<p>
<%= f.label "Заголовок:" %>
<br>
  <%= f.text_field :title%>
</p>

<ul id="myTags">
    <!-- Existing list items will be pre-added to the tags -->
    <li>Tag1</li>
    <li>Tag2</li>
</ul>


<redactor>
<p>
  <%= f.label 'body', "содержание:" %><br />
  <%= f.text_area :body , :rows=>10, :width=>"60%" %>
</p>
</redactor>
<br>
<%= submit_tag("Добавить", :class=>"ff blue") %>
<% end %>
