-content_for :sidebar do
	%a.comment-img{:href => "#non"}
		%img{:alt => "", :height => "50", :src => "http://skoda.avtokomplex.ru/i/head/skdlogo.jpg", :width => "50"}/
	%p{:style => "padding-top:0px;", :width => "150"}
		%span.bolder= @user.name
		%br
		%span.small_text Автокарма 0.560
	%hr.hr_dashed
	%p У пользователя интересные статьи и актуальные объявления, тогда отблагодарите его плюсом для автокармы. Если же пользователь оскорбил вас, то осудите его жирным минусом.
	%center
		%a.ff.green{:href => "#"} +
		%a.ff.red{:href => "#"} -
	%hr.hr_dashed

.invert
	%h1 Последние объявления:
%hr.hr_dashed
= render :partial => "adverts/adv", :collection => @adverts
%hr.hr_dashed
%br	 
.invert
	%h1 Последнее в блогах:
.pre_news
	= render :partial => "adverts/topic", :collection => @topics