<%= link_to adv do %>
<div class="pin">
<div class="pre_img">
<%if adv.uploads.empty? %>
  <img src="http://dribbble.s3.amazonaws.com/users/85772/screenshots/361576/trabant-dribbble.png">
<%else%>
  <%= image_tag(adv.uploads[0].upload.url(:small)) %>
<%end%>
</div>
	<div class="pre_adv">
  	 <p>
     <%=  "#{adv.acompany.name} #{adv.amodel.name}, #{adv.year}" %>  
    <br>
  	 КПП: <%=getGear adv.gear%><br></p>
  	 <h1><%=number_to_currency(adv.price, :unit => "руб.", :separator => " ", :delimiter => " ", :format => "%n %u", :precision => 0)%></h1>
	</div>
</div>
<% end %>