<section class="comments">
  <article class="comment">
    <a class="comment-img" href="#non">
      <img src="http://lorempixum.com/50/50/people/1" alt="" width="50" height="50">
    </a>
    <div class="comment-body">
      <div class="text">
        <p><%= comment.body %></p>
      </div>
      <p class="attribution">Автор: <%=link_to comment.user.name, user_path(comment.user.name) %></p>
    </div>
  </article>
</section>​