	 <h1><%= link_to topic.title, topic %></h1>
	 <span class="small_text"> 
	 	<%= distance_of_time_in_words(Time.new.to_i, topic.created_at.to_i) %>
	 	назад | Автор: <%= link_to topic.user.name, user_path(topic.user.name)%>
	 <br> Теги:
	 <%= raw topic.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
	</span>
	 <hr class="hr_dashed">