<div class="invert"><p>"Моторика" - проект для автомобилистов, которые любят свои авто и уважительно относятся к другим участникам дорожного движения. Мы работаем для водителей Юга России: Астрахань и область, Волгоград и область, Краснодарский край, Республика Адыгея, Республика Калмыкия, Ростов-на-Дону и область. </p>
</div> <br>
   		 
	 
	 <h1>Цель проекта</h1>
	 <p>Создание здорового сообщества автомобилистов, которые любят драйв, но при этом стараются не нарушать ПДД. Взаимопомощь, обмен знаниями и лайфхаками, которые помогут сделать нашу автомобильную жизнь проще. </p>
	 <hr class="hr_dashed">
	 
	  <h1>Пользователь</h1>
	 <p>Ценная единица живого сообщества. На сайте нет разделения на пользователя-человека и пользователя-организацию, поскольку они имеют равные права и возможности. Каждый пользователь - уникальный юзер, который подчиняется системе рейтинга - "автокарма". У нас нет ограничений на добавление контента, поэтому создание нескольких аккаунтов - великая глупость. </p>
	 <hr class="hr_dashed">
	 
	 	  <h1>Автокарма</h1>
	 <p>Единица подсчета полезности пользователя и его авторитетности между другими участниками сообщества. Может быть получена за активность на сайте и потрачена в дальнейшем на дополнительные возможности. </p>
	 <hr class="hr_dashed">
	 
	 	  <h1>Сервисы</h1>
	 <p>Мы стараемся дорабатывать наше сообщество и добавлять новый функционал. На данный момент мы предоставляем три основных сервиса:<br><br>
	 1. Лента блогов<br>
	 Лента пользовательских находок, новостей, заметок, интересных материалов и вопросов к сообществу. Поиск по материалам происходит с помощью использования тегов, поэтому сайт не ограничен в рубрикации.<br><br>
	 
	  2. Объявления о продаже авто<br>
	 Удобная и простая доска объявлений, которая не имеет ограничений на количество добавляемой информации. Объявления публикуются моментально и на неограниченный срок.<br><br>
	 
	  3. Автомобильный бизнес<br>
	 Каталог автомобильных услуг со строгой рубрикацией и возможностью поиска по населенным пунктам.
	  </p>
	   <hr class="hr_dashed">
	  <h1>Сотрудничество</h1>
	 <p>Мы всегда рады сотрудничеству. Мы ждем от вас письма на нашу почту partners@motorica.me<br>
  	 Рекламу вы можете заказать без контактов с редакцией, через сервис <a href="">AdEasy</a>.
	 </p>