.invert
  %p
    "Моторика" - автомобильное сообщество Юга России. Если ты любишь машины, то мы ждем тебя в компании единомышленников. На сайте ты сможешь не только вести свой автоблог, но еще и посмотреть на предложения по продаже авто, найти услуги по ремонту и обслуживанию, задать вопросы и проконсультировать других участников.
    %br
      %a{:href => new_user_registration_path} Регистрируйся
      и стань частью Моторики.
%br
  .invert
    %h1 Последние объявления:
  = render :partial => "adv", :collection => @adverts
  %hr.hr_dashed
  %br
  .invert
    %h1 Последнее в блогах:
  .pre_news
    = render :partial => "topic", :collection => @topics
  .invert
    %p
      У вас автомобильный бизнес? Вы занимаетесь запчастями, ремонтом, продажей, выкупом автомобилей? Тогда
      %a{:href => new_user_registration_path} регистрируйтесь
      и получите возможность добавить свой услуги в наш каталог "Автомобильный бизнес", писать новости и привлекать потенциальных покупателей, а также Вы сможете оформить свою страницу и использовать ее как сайт-визитку.