$('#list_adverts').html("<%=j render partial: "adv", collection: @adverts %>");
$("#size").html("<%= "#{@adverts.size} #{Russian.p(@adverts.size, "объявление", "объявления", "объявлений")}" %>");
$(".grid_8").effect( "highlight", {color:"#5F9900"}, 500 );
