 <div class="invert" style="margin-bottom: 5px;">
     <h1>По вашим параметрам найдено <span id="size"><%="#{@adverts.size} #{Russian.p(@adverts.size, "объявление", "объявления", "объявлений")}"%></span> </h1>
 		  </div> 

<p id="adv_sort" class="small_text">Сортировать по <%= link_to_function "цене", 'if($("#sort").val() == 2){$("#sort").val(-2);}else{$("#sort").val(2);}$("#adv_form").submit()' %> / <%= link_to_function "году выпуска", 'if($("#sort").val() == 3){$("#sort").val(-3);}else{$("#sort").val(3);}$("#adv_form").submit()' %> / <%= link_to_function "дате добавления", 'if($("#sort").val() == 1){$("#sort").val(-1);}else{$("#sort").val(1);}$("#adv_form").submit()'%></p>

   <div id="list_adverts">
     <%= render :partial => "adv", :collection => @adverts %>
   </div>
	 
  
  <%content_for :sidebar do%>
  <center><a class="ff green" href="<%= new_advert_path %>">Добавить объявление</a></center>
	  <hr class="hr_dashed">
	  <br>
    
    <%= form_tag alladverts_path, {remote: true, id: 'adv_form'} do %>
    <h1>Поиск по параметрам</h1>
    <hr class="hr_dashed">	
    <h3>Марки и модель:</h3><p>
      <%=select_tag :advert_acompany_id, options_for_select( @acompanies.map { |cp| [cp.name, cp.id] }), {prompt: 'Все марки', :class=>"medium", :id=>"advert_acompany_id" } %>
      
      <select id="advert_amodel_id" name="advert[amodel_id]">
        <option value="">Все модели</option>
      </select>
      <%#= collection_select(:advert_amodel, :id, @amodels, :tag, :name) %>
         
    <hr class="hr_dashed">
    
			<h3>КПП:</h3><p>
			<span id="checkbox">
        <%= check_box_tag(:auto) %>
        <%= label_tag(:auto, "Автоматическая") %>
        <br>
        <%= check_box_tag(:manual) %>
        <%= label_tag(:manual, "Механическая") %>
        <br>
			</span>
		  </p>
      
      <hr class="hr_dashed">
      <h3>Год выпуска:</h3><p>
      от <%= text_field_tag :year1, nil, {class: "text", placeholder: "2006"}%>
      до <%= text_field_tag :year2, nil, {class: "text", placeholder: "2011"}%>
      </p>
      
      <hr class="hr_dashed">
      <h3>Цена:</h3><p>
        от <%= text_field_tag :price1, nil, {class: "text", placeholder: "200"}%>
        до <%= text_field_tag :price2, nil, {class: "text", placeholder: "300"}%><br>
      <span class="small_text">Цена указывается в тысячах рублей</span>
      </p>

      <hr class="hr_dashed">
            <%= hidden_field_tag :sort, 1 %>
    <center>
      <%= submit_tag("Применить параметры", :class=>"ff blue") %>
    </center>
    <hr class="hr_dashed">
    <% end %>
<% end %>