<%= form_for :advert, {:url => adverts_path, :html => { :multipart => true }} do |f| %>

<%= f.label "Марка:  " %>
<%= f.collection_select(:acompany_id, @acompanies, :id, :name, {:prompt => "Выберите марку", :class=>"medium", :id=>"acompanies_select" }) %>
<%= f.label "Модель:  " %>
<select id="advert_amodel_id" name="advert[amodel_id]">
</select>
<%#= f.collection_select(:amodel_id, @amodels, :id, :name) %>
<br>
<%= f.label 'year', "Год:" %>
<%= f.text_field :year, :size=>10, :class=>"tip", :title=>"пример: 2011"%>
<br>
  <%= f.label 'price', 'Цена в руб.:' %>
  <%= f.text_field :price, :size=>10, :class=>"tip", :title=>"пример: 600000 "%>
<br>
<p>
  <%= f.label 'descr', "Описание:" %><br />
  <%= f.text_area :description , :style=>"width:65%", :rows=>10%>
</p>
<br>
<p>
  <%= f.label 'gear', "Коробка:" %>
  <%= f.select :gear, [["механическая", 1],["автоматическая", 2]]%>
<br>
  <%= f.label 'contacts', "Контакты:" %>
  <%= f.phone_field :contacts, :size=>50, :class=>"tip", :title=>"пример: тел. 123-45-78 Петр"%>
</p>
<%= submit_tag("Добавить", :class=>"ff blue") %>
<% end %>
