<div class="invert">
     <h1><%="#{@advert.acompany.name} #{@advert.amodel.name}, #{@advert.year}"%></h1>
      <% if @advert.user==current_user %>
      <%= link_to "Изменить фото", uploads_path(@advert.id) %>
      &nbsp;&nbsp;&nbsp;
 		  <%= link_to "Изменить объявление", edit_advert_path(@advert.id) %>
      <%end%>
</div>


<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
  <%@advert.uploads.each_with_index do |img, index|%>
  <%if index==0%>
    <div class="active item">
    <%= image_tag img.upload.url(:normal), class: 'photo'%>
    </div>
    <%else%>
    <div class="item">
        <%= image_tag img.upload.url(:normal), class: 'photo'%>
    </div>
    <%end%>
  <%end%>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
	 <hr class="hr_dashed">


	 <p><span class="bolder">Пользователь: <%=link_to @advert.user.name, user_path(@advert.user.name)%></span></a><br>
	 <span class="bolder">КПП:</span> <%=getGear @advert.gear%><br>
   <span class="bolder">Основная информация:</span> <%= @advert.description %><br>
<span class="bolder">Контакты для связи:</span> <%= @advert.contacts %><br>
   		 
   <div class="invert">
     <h1><center><%=number_to_currency(@advert.price, :unit => "руб.", :separator => " ", :delimiter => " ", :format => "%n %u", :precision => 0)%></center></h1>
 		  
</div>
	 <br>

   <div id="list_comments">
     <%= render :partial => "comment", :collection => @comments %>
   </div>

<%= form_for :comment, {:url => add_advert_comments_path, :remote => true, :html => { :multipart => true }} do |f| %>

<%= text_field_tag :comment, nil, placeholder: "Напишите свой вопрос или предложение...", :width=>"100%", class: "comm"%>
<%#= f.text_area :comment, {placeholder: "Напишите свой вопрос или предложение...", :width=>"100%", :class=>"comm", rows: 2, cols: 60} %>
<%= hidden_field_tag :id, @advert.id %>
<%= submit_tag("Добавить +", :class=>"ff green") %>
<% end %>