/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "imperavi-rails/imperavi/imperavi-base";
@import "http://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css";

body {
  margin: auto;
  font-family: 'PT Sans', sans-serif;
  background: url("bg.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="bg.jpg", sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg.jpg', sizingMethod='scale')";
  color: #171f24;

  
  redactor {
    article {
      overflow: hidden;
      @include imperavi-base;

      p, div {
        border: 0;
      }

      p {
        padding: 0;
        margin: 0 0 1.5em 0;
      }
    }
    textarea {
      width: 100%;
      height: 600px;
    }
  }
}
