!!!
%html
  %head
    %title Моторика - автомобильное сообщество Юга. Продажа авто, автоблоги, советы
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{:href => "http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=cyrillic,latin", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/south-street/jquery-ui.css", :rel => "stylesheet", :type => "text/css"}
  %body
    #top_line
      .container_12
        #logo.grid_1
          <img src=#{asset_path("logo.png")}>
        #inter.grid_7.prefix_4
          - if user_signed_in?
            Приветствуем, #{current_user.name}     #{link_to "выйти", destroy_user_session_path, :method => :delete}
          - else
            %a{:href => "#{new_user_session_path} "} Войти
            в личный кабинет | Я 
            %a{:href => new_user_registration_path} впервые
            здесь
    .clear  
    .container
      %nav
        %ul
          %li#menu1
            %a{:href => "/"} Главная
          %li
            %a{:href => "/about"} О проекте
          %li
            %a{:href => alladverts_path}
              Объявления о продаже авто
              %span.badge.green= Advert.count
          %li
            %a{:href => alltopics_path} Лента блогов
          %li
            %a{:href => "business.html"}
              Автомобильный бизнес
              %span.badge.red в разработке
    .container_12
      #main_block.grid_8
        = yield
      #sidebar_block.grid_3
        = yield :sidebar
        %p
          © 2013 Моторика
          %br
            %span.small_text
              %a{:href => ""} Вконтакте
              |
              %a{:href => ""} Facebook
              |
              %a{:href => ""} Twitter
              |
              %a{:href => ""} Surfingbird
              %br Контент и права на него принадлежат пользователям сообщества, Моторика со своей стороны разрешает копирование материалов со ссылкой на ресурс.
      .clear  